@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  display: block;
  height: auto;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.rdrMonths,
.rdrMonth.rdrMonth,
.rdrCalendarWrapper {
  width: 100%;
}

/* If no listings, hide the header */
header:has(~ .error-message) {
  display: none;
}
